body {
  font: 15px/1.5;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  background-color: white;
}

/* Global */
.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}


ul {
  margin: 0;
  padding: 0;

}

.highlight {
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
}

.button_2 {
  height: 38px;
  background: rgb(224, 123, 7);
  border: 0;
  padding-left: 20px;
  padding-right: 20px;
  color: #ffffff;
}

.dark {
  padding: 20px;
  background: #35424a;
  color: #ffffff;
  width: 60%;
  margin: auto;
  text-align: center;
}

/* Header **/
header {

  background-color: rgb(45, 44, 46);
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;
}

header a {
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header li {
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header #branding {
  float: left;
}

header #branding h1 {
  margin: 0;
}

header nav {
  float: right;
  margin-top: 10px;
}

header .highlight,
header .current a {
  color: #e8491d;
  font-weight: bold;
}

header a:hover {
  color: #cccccc;
  font-weight: bold;
}

.imglagao {
  margin: 0;
  background-image: url(donor.jpg);
  background-repeat: no-repeat;
  min-height: 75px;
  image-rendering: crisp-edges;
  background-size: cover;
  background-attachment: fixed;
}

/* Showcase */
#showcase {
  min-height: 400px;
  text-align: center;
  color: #ffffff;
}

#showcase h1 {
  margin-top: 100px;
  font-size: 55px;
  margin-bottom: 10px;
}

#showcase p {
  font-size: 20px;
}

/* Newsletter */
#newsletter {
  padding: 15px;
  color: #ffffff;

  background-color: rgb(45, 44, 46);
}

#newsletter h1 {
  float: left;
}

#newsletter form {
  float: right;
  margin-top: 15px;
}

#newsletter input[type="email"] {
  padding: 4px;
  height: 25px;
  width: 250px;
}

/* Boxes */
#boxes {
  margin-top: 20px;
}

mark {
  background-color: white;
  color: black;
}

#boxes .box {
  float: left;
  text-align: center;
  width: 30%;
  padding: 10px;
}

#boxes .box img {
  width: 90px;
}

/* Sidebar */
aside#sidebar {
  float: right;
  width: 38%;
  margin-top: 10px;
}

aside#sidebar .quote input,
aside#sidebar .quote textarea {
  width: 90%;
  padding: 5px;
}

/* Main-col */
article#main-col {
  float: left;
  width: 59%;
}

.page-title {
  font-size: 25px;
  margin: 0;
  margin-top: 20px;
}

/* Services */
ul#services li {
  list-style: none;
  padding: 20px;
  border: #cccccc solid 1px;
  margin-bottom: 5px;
  background: #e6e6e6;
}

footer {
  overflow: hidden;
  margin-bottom: 0px;
  padding-top: 10px;
  font-size: 25px;
  min-height: 80px;
  background-color: #000;
  text-align: center;
  color: #fff;
}

header {
  padding-bottom: 20px;
}

#showcase h1 {
  margin-top: 40px;
}

#newsletter button,
.quote button {
  display: block;
  width: 100%;
}

#newsletter form input[type="email"],
.quote input,
.quote textarea {
  width: 100%;
  margin-bottom: 5px;
}
}

.dark {}


.dark form {
  width: 65%;
  text-align: left;
  margin: auto;
}

.dark form input {
  float: right;
  margin-right: 10px;
  border-radius: .2rem;
  border: none;
  width: 200px;
  min-height: 25px;
  padding-left: 15px;
}

.fuck {
  margin-top: 25px;
}

.button_2 {
  width: 280px;
  border-radius: .6rem;
  position: relative;
  margin: 50px 20px 20px 0;
  font-size: 18px;
  font-weight: bold;
  background: #e67e22;
}

/* Media Queries */
@media(max-width: 1000px) {

  header #branding,
  header nav,
  header nav li,
  #newsletter h1,
  #newsletter form,
  #boxes .box,
  article#main-col,
  aside#sidebar,
  .dark {
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media(max-width: 600px) {
  .dark form {
    float: none;
    text-align: center;
    width: 100%;
  }

  /*   
  @media(max-width: 600px) {

    .dark form input,
    button_2 {
  width: 40%;
}
*/